Source: gtk4
Standards-Version: 4.7.4
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Debian GNOME Maintainers <pkg-gnome-maintainers@lists.alioth.debian.org>
Uploaders: Simon McVittie <smcv@debian.org>,
           Jeremy Bícha <jbicha@ubuntu.com>,
Section: libs
Build-Depends: debhelper-compat (= 13),
               dh-exec,
               dh-sequence-gir,
               dh-sequence-gnome,
               adwaita-icon-theme <!nocheck>,
               at-spi2-core <!nocheck>,
               dbus-daemon <!nocheck>,
               fonts-cantarell <!nocheck>,
               fonts-noto-core <!nocheck>,
               gir1.2-cairo-1.0-dev,
               gir1.2-gdkpixbuf-2.0-dev,
               gir1.2-gio-2.0-dev,
               gir1.2-graphene-1.0-dev,
               gir1.2-pango-1.0-dev,
               gir1.2-pangocairo-1.0-dev,
               gir1.2-xlib-2.0-dev,
               glslc,
               gobject-introspection (>= 1.80.0),
               gsettings-desktop-schemas <!nocheck>,
               iso-codes <!nocheck>,
               libcairo2-dev (>= 1.18.2),
               libcloudproviders-dev,
               libcolord-dev <!pkg.gtk4.nocolord>,
               libcups2-dev,
               libegl1-mesa-dev [linux-any],
               libepoxy-dev,
               libfontconfig-dev,
               libfribidi-dev,
               libgdk-pixbuf-2.0-dev,
               libglib2.0-dev (>= 2.80.0),
               libgraphene-1.0-dev,
               libgstreamer-plugins-bad1.0-dev (>= 1.28),
               libgstreamer1.0-dev,
               libharfbuzz-dev (>= 8.4.0),
               libjpeg-dev,
               libjson-glib-dev:native,
               libpango1.0-dev (>= 1.56.0),
               libpng-dev (>= 1.6.46-2~),
               libpolkit-gobject-1-dev [linux-any],
               librsvg2-common (>= 2.48) <!nocheck>,
               librsvg2-dev (>= 2.48),
               libsysprof-capture-4-dev [linux-any],
               libtiff-dev,
               libvulkan-dev [linux-any],
               libwayland-dev (>= 1.24.0) [linux-any],
               libx11-dev,
               libxcomposite-dev,
               libxcursor-dev,
               libxdamage-dev,
               libxext-dev,
               libxfixes-dev,
               libxi-dev,
               libxinerama-dev,
               libxkbcommon-dev,
               libxkbfile-dev,
               libxml2-utils,
               libxrandr-dev,
               locales <!nocheck> | locales-all <!nocheck>,
               mesa-vulkan-drivers [amd64 arm64 i386 loong64 powerpc riscv64 s390x sparc64] <!nocheck>,
               meson (>= 1.2.0),
               pkgconf,
               pkgconf:native,
               python3-docutils <!nodoc>,
               python3-gi <!nocheck>,
               sassc,
               wayland-protocols (>= 1.44) [linux-any],
               weston [linux-any] <!nocheck>,
               xauth <!nocheck>,
               xvfb <!nocheck>,
Build-Depends-Indep: gi-docgen <!nodoc>,
                     libcairo2-doc <!nodoc>,
                     libglib2.0-doc <!nodoc>,
                     libpango1.0-doc <!nodoc>,
XS-Debian-Vcs-Browser: https://salsa.debian.org/gnome-team/gtk4
XS-Debian-Vcs-Git: https://salsa.debian.org/gnome-team/gtk4.git
Vcs-Browser: https://salsa.debian.org/gnome-team/gtk4/-/tree/ubuntu/latest
Vcs-Git: https://salsa.debian.org/gnome-team/gtk4.git -b ubuntu/latest
Homepage: https://www.gtk.org/

Package: libgtk-4-1
Architecture: any
Multi-Arch: same
Depends: adwaita-icon-theme,
         hicolor-icon-theme,
         libgles2,
         libgtk-4-common (>= ${source:Version}),
         shared-mime-info,
         ${misc:Depends},
         ${shlibs:Depends},
Recommends: ibus-gtk4,
            iso-codes,
            libgtk-4-bin,
            librsvg2-common (>= 2.48),
            ${local:Recommends},
Suggests: gvfs,
Breaks: gnome-control-center (<< 1:50~),
        libgtk-4-media-gstreamer (<< 4.19.2),
        xdg-desktop-portal-gnome (<< 50~),
Provides: libgtk-4-media-gstreamer (= ${binary:Version}),
          ${gtk:Provides},
Replaces: libgtk-4-media-gstreamer (<< 4.19.2),
Description: GTK graphical user interface library
 GTK is a multi-platform toolkit for creating graphical user
 interfaces. Offering a complete set of widgets, GTK is suitable
 for projects ranging from small one-off tools to complete application
 suites.
 .
 This package contains the shared libraries.

Package: libgtk-4-1-udeb
Architecture: any
Build-Profiles: <!noudeb>
Package-Type: udeb
Section: debian-installer
Depends: ${misc:Depends},
         ${shlibs:Depends},
Provides: ${gtk:Provides},
Description: GTK graphical user interface library - minimal runtime
 This is a udeb, or a microdeb, for the debian-installer.
 .
 GTK is a multi-platform toolkit for creating graphical user
 interfaces. Offering a complete set of widgets, GTK is suitable
 for projects ranging from small one-off tools to complete application
 suites.
 .
 This package contains the minimal runtime library using X11 needed
 by the Debian installer.

Package: libgtk-4-common
Architecture: all
Multi-Arch: foreign
Section: misc
Depends: ${misc:Depends},
Recommends: libgtk-4-1,
Description: common files for the GTK graphical user interface library
 GTK is a multi-platform toolkit for creating graphical user
 interfaces. Offering a complete set of widgets, GTK is suitable
 for projects ranging from small one-off tools to complete application
 suites.
 .
 This package contains the common files which the libraries need.

Package: libgtk-4-bin
Architecture: any
Multi-Arch: foreign
Section: misc
Depends: gtk-update-icon-cache (>= ${binary:Version}),
         libgtk-4-1 (>= ${source:Version}),
         libgtk-4-common (>= ${source:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Description: programs for the GTK graphical user interface library
 GTK is a multi-platform toolkit for creating graphical user
 interfaces. Offering a complete set of widgets, GTK is suitable
 for projects ranging from small one-off tools to complete application
 suites.
 .
 This package contains the utilities which are used by the libraries
 and other packages.

Package: libgtk-4-dev
Architecture: any
Multi-Arch: same
Section: libdevel
Depends: libcairo2-dev (>= 1.18.2),
         libegl1-mesa-dev [linux-any],
         libepoxy-dev,
         libfontconfig-dev,
         libgdk-pixbuf-2.0-dev,
         libglib2.0-dev (>= 2.80.0),
         libgraphene-1.0-dev,
         libgtk-4-1 (= ${binary:Version}),
         libgtk-4-common,
         libpango1.0-dev (>= 1.56.0),
         libvulkan-dev [linux-any],
         libwayland-dev (>= 1.23.0) [linux-any],
         libx11-dev,
         libxcomposite-dev,
         libxcursor-dev,
         libxdamage-dev,
         libxext-dev,
         libxfixes-dev,
         libxi-dev,
         libxinerama-dev,
         libxkbcommon-dev,
         libxrandr-dev,
         pkgconf,
         wayland-protocols (>= 1.44) [linux-any],
         ${gir:Depends},
         ${misc:Depends},
Suggests: gtk-4-examples,
          libgtk-4-doc,
Provides: ${gir:Provides},
Description: development files for the GTK library
 GTK is a multi-platform toolkit for creating graphical user
 interfaces. Offering a complete set of widgets, GTK is suitable
 for projects ranging from small one-off tools to complete application
 suites.
 .
 This package contains the header and development files which are
 needed for building GTK applications.

Package: libgtk-4-doc
Architecture: all
Build-Profiles: <!nodoc>
Multi-Arch: foreign
Section: doc
Depends: ${misc:Depends},
Recommends: libglib2.0-doc,
            libpango1.0-doc,
Description: documentation for the GTK graphical user interface library
 GTK is a multi-platform toolkit for creating graphical user
 interfaces. Offering a complete set of widgets, GTK is suitable
 for projects ranging from small one-off tools to complete application
 suites.
 .
 This package contains the HTML documentation for the GTK library
 in /usr/share/doc/libgtk-4-doc/ .

Package: gtk-4-examples
Architecture: any
Build-Profiles: <!noinsttest>
Section: x11
Depends: libgtk-4-1 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Recommends: fonts-cantarell,
            highlight,
            librsvg2-common (>= 2.48),
Description: example files for GTK 4
 GTK is a multi-platform toolkit for creating graphical user
 interfaces. Offering a complete set of widgets, GTK is suitable
 for projects ranging from small one-off tools to complete application
 suites.
 .
 This package contains the example files and a demonstration program
 for GTK4.

Package: gtk-4-tests
Architecture: any
Build-Profiles: <!noinsttest>
Section: x11
Depends: iso-codes,
         libgtk-4-1 (= ${binary:Version}),
         librsvg2-common (>= 2.48),
         ${misc:Depends},
         ${shlibs:Depends},
Recommends: gnome-desktop-testing,
            locales | locales-all,
Description: "as-installed" tests for GTK 4
 GTK is a multi-platform toolkit for creating graphical user
 interfaces. Offering a complete set of widgets, GTK is suitable
 for projects ranging from small one-off tools to complete application
 suites.
 .
 This package contains installable test programs, primarily for use with
 autopkgtest.

Package: gir1.2-gtk-4.0
Architecture: any
Multi-Arch: same
Section: introspection
Depends: libgtk-4-common,
         ${gir:Depends},
         ${misc:Depends},
Provides: ${gir:Provides},
Description: GTK graphical user interface library -- gir bindings
 GTK is a multi-platform toolkit for creating graphical user
 interfaces. Offering a complete set of widgets, GTK is suitable
 for projects ranging from small one-off tools to complete application
 suites.
 .
 This package can be used by other packages using the GIRepository format to
 generate dynamic bindings.

Package: gtk-update-icon-cache
Architecture: any
Multi-Arch: foreign
Section: misc
Depends: ${misc:Depends},
         ${shlibs:Depends},
Breaks: libgtk-4-bin (<< 4.15),
Replaces: libgtk-4-bin (<< 4.15),
Description: icon theme caching utility
 gtk-update-icon-cache creates mmap()able cache files for icon themes.
 .
 GTK can use the cache files created by gtk-update-icon-cache to avoid a lot
 of system call and disk seek overhead when the application starts. Since the
 format of the cache files allows them to be mmap()ed shared between multiple
 applications, the overall memory consumption is reduced as well.
